* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.pad-1 {
  padding: 10px; }

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center; }

input[type="submit"] {
  margin: 20px 0 0 65px;
  padding: 10px; }

.players-hand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  border: 1px solid black; }
  .players-hand h3 {
    text-align: center; }
  .players-hand input[type="button"] {
    width: 75%;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    margin: auto; }
  .players-hand card-t {
    cursor: pointer;
    transition: all 0.2s ease; }
  .players-hand .show-hand {
    display: flex;
    justify-content: space-evenly; }
    .players-hand .show-hand .checked {
      transform: rotate(9deg);
      border: 2px solid black;
      background: black;
      border-radius: 7px; }
  .players-hand .card-in-hand {
    width: 100px; }
  .players-hand .multi-values {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 100px;
    margin-bottom: 20px; }
  .players-hand .fifteen-count {
    padding: 20px;
    width: 400px; }
  .players-hand .combo-sacrifice {
    transform: rotate(90deg);
    z-index: -2; }
  .players-hand .value-options-one {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    border: 1px dotted black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-collapse: collapse;
    text-align: center;
    font-size: 2rem;
    cursor: pointer; }
  .players-hand .value-options-two {
    width: 100px;
    height: 100px;
    border: 1px dotted black;
    border-collapse: collapse;
    font-size: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer; }
