$maxwidth: 1200px;
$dark-bg-col: #222;
$light-bg-col: #ddd;
$menu-border: 4px solid #fff;
$inner-menu-border: 2px dotted #fff;

// Lower section of player's hand
$players-hand-bg-col: rgba(255, 217, 146, 0.7);
$dark-text-col: #333;
$players-btn-border: 2px solid #ccc;
$players-border-radius: 10px;
$players-box-shadow: 2px 2px #ddd;
$players-btn-bg-col: #eee;

// Fonts
$title-font: "Didact Gothic", sans-serif;
$body-font: "Didact Gothic", sans-serif;
$gameplay-font: "Courier New", Courier, monospace;
