@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

$maxwidth: 1200px;
$dark-bg-col: #222;
$light-bg-col: #ddd;
$menu-border: 2px solid #eee;
$inner-menu-border: 2px dotted #eee;
$custom-pointer: none !important;

// Arcade Mode and Time Attack preload BG
$preloadandMainBg: #b3edff;

// Fonts
$title-font: "Didact Gothic", sans-serif;
$body-font: "Didact Gothic", sans-serif;
$gameplay-font: "Russo One", sans-serif;
// $gameplay-font-2: "Ink Free", sans-serif;
$gameplay-font-2: "Short Stack", cursive;
$gameplay-font-col: #ffff00;
$timer-font-col: rgb(152, 253, 0);

// Gameplay UI
$header-gradient: linear-gradient(#111, #333);
$pause-gameover-box-bg: url("../img/ta-pause-background.png");

// Lower section of player's hand ARCADE MODE
$players-hand-bg-col: rgba(255, 217, 146, 0.7);
$dark-text-col: #333;
$players-btn-border: 2px solid #ccc;
$players-border-radius: 10px;
$players-box-shadow: 2px 2px #ddd;
$players-btn-bg-col: #eee;
// Universe
$universe-primary-col: #fff;
// Jungle
$jungle-primary-col: #fff;
