@font-face {
  font-family: "Didact Gothic";
  src: url("./fonts/DidactGothic-Regular.ttf");
}

@font-face {
  font-family: "Russo One";
  src: url("./fonts/RussoOne-Regular.ttf");
}

@font-face {
  font-family: "Short Stack";
  src: url("./fonts/ShortStack-Regular.ttf");
}

@font-face {
  font-family: "Chau Philomene One";
  src: url("./fonts/ChauPhilomeneOne-Regular.ttf");
}

$maxwidth: 1200px;
$dark-bg-col: #222;
$light-bg-col: #ddd;
$menu-border: 2px solid #eee;
$inner-menu-border: 2px dotted #eee;
$custom-pointer: default !important;

// Arcade Mode and Time Attack preload BG
$preloadandMainBg: #b3edff;

// Non-gameplay container background
$non-gameplay-bg: linear-gradient(
  331deg,
  rgba(230, 230, 230, 1) 35%,
  rgba(238, 238, 238, 1) 100%
);

// Fonts
$title-font: "Didact Gothic", sans-serif;
$body-font: "Didact Gothic", sans-serif;
$gameplay-font: "Russo One", sans-serif;
$title-font: "Ink Free", sans-serif;
$gameplay-font-2: "Short Stack", cursive;
$gameplay-font-col: #ffff00;
$timer-font-col: rgb(152, 253, 0);
$ta-card-font: "Chau Philomene One", sans-serif;

// Gameplay UI
$header-gradient: linear-gradient(#111, #333);
$pause-gameover-box-bg: url("../img/ta-pause-background.png");

// Lower section of player's hand ARCADE MODE
$players-hand-bg-col: rgba(255, 217, 146, 0.7);
$dark-text-col: #333;
$players-btn-border: 2px solid #ccc;
$players-border-radius: 10px;
$players-box-shadow: 2px 2px #ddd;
$players-btn-bg-col: #eee;
// Universe
$universe-primary-col: #fff;
// Jungle
$jungle-primary-col: #fff;
