.card-sprite {
  border: 2px solid #fff;
  border-radius: 35%;
  min-width: 100px;
  min-height: 154px;
  cursor: pointer;
}

.red-two {
  background: url("../img/universe_sprites.png") 0 0;
}

.red-three {
  background: url("../img/universe_sprites.png") -144.5px 0;
}

.red-four {
  background: url("../img/universe_sprites.png") -289px 0;
}

.red-five {
  background: url("../img/universe_sprites.png") -433.5px 0;
}

.red-six {
  background: url("../img/universe_sprites.png") -578px 0;
}

.red-seven {
  background: url("../img/universe_sprites.png") -722.5px 0;
}

.red-eight {
  background: url("../img/universe_sprites.png") -867px 0;
}

.red-nine {
  background: url("../img/universe_sprites.png") -1011.5px 0;
}

.red-ten {
  background: url("../img/universe_sprites.png") -1156px 0;
}

.red-ten-one {
  background: url("../img/universe_sprites.png") -1300.5px 0;
}

.red-eleven-one {
  background: url("../img/universe_sprites.png") -1589px 0;
}

.red-twelve-one {
  background: url("../img/universe_sprites.png") -1733.5px 0;
}

.red-fifteen-one {
  background: url("../img/universe_sprites.png") -1444.5px 0;
}

.black-two {
  background: url("../img/universe_sprites.png") 0 -231px;
}

.black-three {
  background: url("../img/universe_sprites.png") -144.5px -231px;
}

.black-four {
  background: url("../img/universe_sprites.png") -289px -231px;
}

.black-five {
  background: url("../img/universe_sprites.png") -433.5px -231px;
}

.black-six {
  background: url("../img/universe_sprites.png") -578px -231px;
}

.black-seven {
  background: url("../img/universe_sprites.png") -722.5px -231px;
}

.black-eight {
  background: url("../img/universe_sprites.png") -867px -231px;
}

.black-nine {
  background: url("../img/universe_sprites.png") -1011.5px -231px;
}

.black-ten {
  background: url("../img/universe_sprites.png") -1156px -231px;
}

.black-ten-one {
  background: url("../img/universe_sprites.png") -1300.5px -231px;
}

.black-eleven-one {
  background: url("../img/universe_sprites.png") -1589px -231px;
}

.black-twelve-one {
  background: url("../img/universe_sprites.png") -1733.5px -231px;
}

.black-fifteen-one {
  background: url("../img/universe_sprites.png") -1445px -231px;
}

.joker {
  background: url("../img/universe_sprites.png") 0 -465px;
}

html {
  overflow: hidden;
}

.gui-container {
  border: 4px solid #000;
}

.background-helper {
  position: absolute;
  top: -75%;
  left: -25%;
  width: 150%;
  height: 250%;
  background: url("../img/universe-outer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(0);
  animation-name: background-rotation;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes background-rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
